<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJIEH4IehuSkJf79LyAhw3q7XDYfijoo4</string>
	<key>GCM_SENDER_ID</key>
	<string>467610928095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aicwoippy.aicWoippyApp</string>
	<key>PROJECT_ID</key>
	<string>aic-woippy-app-8815b</string>
	<key>STORAGE_BUCKET</key>
	<string>aic-woippy-app-8815b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467610928095:ios:ae163769cf02235073ba6a</string>
</dict>
</plist>